.introcontent {
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column; 
    color: #979baa;
    padding-top: 3rem;
    margin-bottom: 3rem;
}

.intro-text {
    margin-bottom: 20px; 
    font-size: 1.4rem; 
    line-height: 1.5; 
    max-width:65%;
}

.Journeysection {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 5rem; 
  }
  
  .journey-img {
    height: 500px;
    width: 600px;
    object-fit: cover;
  }
  
  .journey-text {
    text-align:start; 
    color: #3e3d3d;
  }
  
  .journey-text h1 {
    font-size: 3rem; 
    font-weight: bold;
    line-height: 1.2;
  }
  
  .journey-text p {
    color: #7c7c7c;
    font-size: 16px; 
    line-height: 1.6; 
    max-width: 500px; 
    margin: 2rem auto; 

  }
  
